//=============================================================================
//== FORM
//=============================================================================

.search-form .btn {
    width: 52px;
    height: 52px !important;
}

.form-control {
    border-width: 0;
}