//=============================================================================
//== BUTTONS
//=============================================================================

.btn-primary {
    background-color: $primary;
}

.btn-primary:hover {
    background-color: $primary;
}

.btn-secondary {
    background-color: $secondary;
}

.btn-secondary:hover {
    background-color: $secondary;
}