//=============================================================================
//== TAGS
//=============================================================================

#section-tags .tag {
    background: $primary;
    border-radius: 10px;
}

#section-tags .tag p {
    margin: 0;
}